body{
    background-color: black;
}

h2, h3 {
   color: #4dc9ff;
}

.title {
    color: #4dc9ff;
    font-family: 'Montserrat', sans-serif;
}

li, p, a, .menu{
    color:#FFA8F8 ;
}


.container{
    display: flex;
    background-color: darkslateblue ;
    flex-direction:column;
    align-items: center;
}

.heading {
    list-style: none;
    display: inline-flex;
}




footer {
    background-color: darkslateblue;
    text-align: center;
  }