body {
    background-color: black;
}

h2,
h3 {
    color: #4dc9ff;
}

.title {
    color: #4dc9ff;
    font-family: "Montserrat", sans-serif;
}

li,
p,
a,
.menu {
    color: #ffa8f8;
}

.container {
    display: flex;
    background-color: darkslateblue;
    flex-direction: column;
    align-items: center;
}

.heading {
    list-style: none;
    display: inline-flex;
}

footer {
    background-color: darkslateblue;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.text {
    grid-column: 1;
}

.text p:first-of-type {
    margin-bottom: 200px;
}

.image {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}