body{
    background-color: black;
}

h1{
   color: #4dc9ff;
}

h2{
    color: #4dc9ff;
}

h3{
    color: #4dc9ff;
}

p{
    color:#FFA8F8 ;
}

li{
    color: #FFA8F8;
}

a{
    color: #FFA8F8;
}
nav {
  background-color: lightgray;
  text-align: center;
}

.heading {
    color:black
}

#menu{
    color: black;
}